@import 'variables';

/* SMALL DESKTOP SCREEN CSS */
@media (min-width:721px) and (max-width:1080px) {
    a {
        font-size: 16px;
    }
    .action__button {
        font-size:16px;
        padding:8px 16px;
    }
    .main__body__title {
        font-size: 30px;
    }
    /* Landing css */

    .landing {
        height: 650px;

        &__title {
            padding: 88px 0 0 48px;
            font-size: 48px;
            max-width: 60%;
        }

        &__container {
            margin-top: 96px;
        }
    }

    /* Products css */
    .products__container {
        margin: 16px 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    /* Offer css */

    .offers {
        &__image {
            width: 300px;
            height: 300px;
        }

        &__message {
            font-size: 32px;
        }
    }

    /* About css */
    .about {
        height: 300px;
        &__images__container {
            width: 300px;
        }
        &__main__image {
            width: 230px;
            height: 230px;
        }
        &__secondary__image {
            width: 150px;
            height: 150px;
        }
        &__floating__image {
            &--right {
                position: relative;
                left: -64px;
                top: 104px;
            }
            &--left {
                position: relative;
                left: 64px;
                top: 104px;
            }
        }
        &__text__container {
            padding-left: 8px;
            max-width: 50%;
            &--start {
                padding-right: 8px;
                max-width: 50%;
            }
        }
    }
    /* News css */
    .news {
        margin-top: 32px;
        &__container {
            flex-direction: column;
            align-items: center;
        }
        &__card {
            width: 90%;
            height: 250px;
            margin: 16px 0px;
            display: flex;
            &__button {
                display: flex;
                justify-content: center;
                width: 100%;
            }
            &__title {
                margin: 4px 0px;
            }
            &__body {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            &__text {
                margin: 4px 0px;
                max-height: 100px;
                overflow: hidden;
            }
            &__image {
                width: 250px;
            }
            &__tag {
                display: inline;
                font-size: 12px;
            }
        }
    }

    /* Footer css */
    .footer {
        &__widget__section__mobile {
            display: none;
        }
        &__map {
            display: none;
        }
        &__sn__text {
            margin-left: 16px;
            font-size: 14px;
        }
    }

    /* Pages css */

}