@import 'variables';

/* TABLET CSS */
@media (min-width:541px) and (max-width:720px) {
    a {
        font-size: 14px;
    }

    .action__button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .btn-corggio {
        font-size: 16px;
    }

    .main__body__title {
        font-size: 28px;
    }

    /* Landing css */

    .landing {
        height: 650px;

        &__title {
            padding: 88px 0 0 48px;
            font-size: 48px;
            max-width: 60%;
        }

        &__container {
            margin-top: 96px;
        }
    }

    /* Pages Landing css */
    .pages__landing__title {
        padding: 64px 0 0 48px;
        max-width: 60%;
        font-size: 42px;
    }

    /* Products css */
    .products__container {
        margin: 16px 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    /* Offer css */
    .offers {
        &__image {
            width: 250px;
            height: 250px;
        }

        &__message {
            font-size: 32px;
        }
    }

    /* About css */
    .about {
        height: 300px;

        &__images {
            &__container {
                width: 260px;
            }

            &__positioning {
                margin-right: -32px;

                &--left {
                    margin-left: -32px;
                }
            }
        }

        &__main__image {
            width: 200px;
            height: 200px;
        }

        &__secondary__image {
            width: 120px;
            height: 120px;
        }

        &__floating__image {
            &--right {
                position: relative;
                left: -64px;
                top: 104px;
            }

            &--left {
                position: relative;
                left: 64px;
                top: 104px;
            }
        }

        &__text__container {
            padding-left: 8px;
            max-width: 50%;

            &--start {
                padding-right: 8px;
                max-width: 50%;
            }
        }
    }

    /* News css */
    .news {
        margin-top: 32px;

        &__container {
            flex-direction: column;
            align-items: center;
        }

        &__card {
            width: 90%;
            height: 250px;
            margin: 16px 0px;
            display: flex;

            &__button {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            &__title {
                margin: 4px 0px;
            }

            &__body {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            &__text {
                margin: 4px 0px;
                max-height: 100px;
                overflow: hidden;
            }

            &__image {
                width: 250px;
            }

            &__tag {
                display: inline;
                font-size: 12px;
            }
        }
    }

    /* Footer css */
    .footer {
        &__widget__section__mobile {
            display: none;
        }
        &__map {
            display: none;
        }
        &__sn__text {
            margin-left: 16px;
            font-size: 14px;
        }
    }


    /* Pages css */
    .orders__iframe__container {
        width: 400px;
        padding-top: 250px;
    }

    .store {
        display: grid;
        width: 100%;
        grid-template-areas: "st__header"
            "st__filters"
            "st__shop";
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;
        &__header {
            grid-area: st__header;
        }
        &__filters {
            grid-area: st__filters;
            padding: 16px;
            &__dropdown {
                width: 104px;
                font-size: 14px;
                font-family: $cg-primary-font;
            }
        }
        &__shop {   
            grid-area: st__shop;
        }
        &__desktop {
            display: none;
        }
        &__mobile {
            display: block;
        }
    }
    .blog {
        display: flex;
        justify-content: center;
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            padding: 8px;
        }
    } 
    .account {
        grid-template-columns: auto;
        grid-template-areas: "profile" "events";
    }
    .profile {
        grid-area: profile;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__picture {
            margin-bottom: 24px;
            width: 180px;
            height: 180px;
        }
        &__information {
            width: 60%;
        }
    }
    .join__us {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-self: center;
        }
    }
}