@import 'variables';

@mixin textMixin ($size, $color, $align: start, $weight: 500) {
    font-family: $cg-primary-font;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
    color: $color;
}

* {
    margin: 0px;
    padding: 0px;
}

/* GLOBAL STYLES */

ul {
    list-style-type: none;
    padding: 0 !important; // Necesito usar !important porque bootstrap sobrescribe mi padding y no se muestra de la manera en que lo deseo
}

.a__corggio {
    @include textMixin(1rem, $cg-font-secondary-color);
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    z-index: 10;
}

.header {
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
        background-color: $cg-primary-color;

        &__icon {
            display: none;
        }
    }

    &__logo {
        height: 64px;
        width: auto;

        &__container {
            display: flex;
            align-items: center;
        }
    }

    &__menu__item {
        display: inline;
        margin: 0px 8px;
    }
}

.footer {
    margin-top: 32px;
    background-image:
        linear-gradient(rgba(129, 0, 0, 0.5), rgba(129, 0, 0, 0.8)),
        url("../assets/storage_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;

    &__widget__section {
        display: flex;
        justify-content: space-evenly;
        height: 100%;

        &__mobile {
            display: none;
        }
    }

    &__menu {
        margin-left: 16px;

        &__item {
            display: block;
            margin: 4px 0px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        padding: 16px;
    }

    &__newsletter__form {
        height: 72px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__navigation {
        margin-top: 16px;
    }

    &__contact__info {
        display: flex;
        align-items: center;
    }

    &__sn {
        &__icon {
            width: 32px;
            height: 32px;
        }

        &__text {
            @include textMixin(1rem, $cg-font-secondary-color, center);
            margin-left: 24px;
            display: inline;
        }
    }

    &__bottom__bar {
        display: flex;
        align-items: center;
        padding: 0px 16px;
        background-color: $cg-primary-color;
        height: 64px;

        &__text {
            @include textMixin(1rem, $cg-font-secondary-color);
            margin-left: 16px;
            margin-top: 16px;
            display: inline;
        }

        &__image {
            width: 40px;
            height: auto;
        }
    }
}

.action__button {
    @include textMixin(1rem, $cg-font-secondary-color);
    margin: 8px;
    box-shadow: 2px 4px 2px 0px #410000;
    border: none;
    display: inline;
    background-color: $cg-primary-color;
    border-radius: 18px;
    cursor: pointer;
    padding: 8px 24px;
    text-decoration: none;
    text-align: center;
}

.action__button:hover {
    background: #710000;
}

.main__body__title {
    @include textMixin(2rem, $cg-primary-color, center, 600);
    margin: 16px 0px;
}

.general__body {
    &__title {
        @include textMixin(1.5rem, $cg-font-secondary-color);
        margin: 0px;
        &--black {
            @include textMixin(1rem, $cg-font-primary-color);
            &--right {
                @include textMixin(1rem, $cg-font-primary-color, right);
            }
        }
    }

    &__subtitle {
        @include textMixin(1.5rem, $cg-font-primary-color);
        &--right {
            @include textMixin(1.5rem, $cg-font-primary-color, right)
        }
    }

    &__text {
        @include textMixin(1rem, $cg-font-primary-color, start, 400);
        &--right {
            @include textMixin(1rem, $cg-font-primary-color, right)
        }
    }
}

/* 
 ___ _   _ ____  _______  __
|_ _| \ | |  _ \| ____\ \/ /
 | ||  \| | | | |  _|  \  / 
 | || |\  | |_| | |___ /  \ 
|___|_| \_|____/|_____/_/\_\
*/

/* LANDING SECTION */

.landing {
    background-image: url("../assets/storage_background.jpg");
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 200px;
        margin: 64px 0;
        padding: 0px 32px;
        background-color: rgba(129, 0, 0, 0.4);
    }

    &__title {
        @include textMixin(3rem, $cg-primary-color, start, 600);
        padding: 88px 0 0 64px;
        max-width: 50%;
    }

    &__subtitle {
        @include textMixin(1.5rem, $cg-font-secondary-color, center);
    }

    &__button {
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

/* PRODUCTS SECTION */

$categoriesImg: (
    cat1: "../assets/category1.png",
    cat2: "../assets/category2.jpg",
    cat3: "../assets/category3.jpg",
    cat4: "../assets/category4.jpg",
    cat5: "../assets/category5.jpg",
    cat6: "../assets/category6.jpeg"
);

.products {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        margin: 16px 0px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 24px;
    }

    &__card {
        width: 90%;
        aspect-ratio: 2/1;
        padding: 8px;
        overflow: hidden;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;

        &__title {
            text-align: center;
        }
    }

    @each $key, $category in $categoriesImg {
        &__card__#{$key} {
            @extend .products__card;
            background-image: linear-gradient(rgba(129, 0, 0, 0.5), rgba(129, 0, 0, 1)),
            url(#{$category});
        }
    }
    
}

// Agregar las nuevas clases en el index, ver de meterle cover
//crear e implementar un mixin

/* OFFERS SECTION */

.offers {
    background-color: $cg-font-primary-color;
    background-image: linear-gradient(rgba(129, 0, 0, 0.5), rgba(129, 0, 0, 1));
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
    padding: 16px;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    &__title {
        color: $cg-font-secondary-color;
    }

    &__message {
        @include textMixin(2rem, $cg-font-secondary-color);
        margin: 8px 0px;
    }

    &__image {
        border-radius: 4px;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    &__btn__container {
        align-self: center;
    }
}

/* ABOUT SECTION */
.about {
    display: flex;
    justify-content: center;
    margin: 24px 0px;
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 70%;
    }

    &__text__container {
        display: inline-block;
        text-align: end;
        margin-left: 32px;

        &--start {
            display: inline-block;
            text-align: start;
            margin-right: 32px;
        }
    }

    &__description {
        max-width: 500px;
        margin: 8px 0px;
    }

    &__main__image {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
}

/* NEWS SECTION */

.news {
    margin-top: 72px;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__card {
        width: 300px;
        height: 500px;
        margin: 16px 32px;
        background-color: #FFF;
        border-radius: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        display: inline-block;

        &__image {
            width: 300px;
            height: 250px;
            object-fit: cover;
        }

        &__body {
            padding: 16px;
        }

        &__tag {
            @include textMixin(1rem, $cg-font-secondary-color);
            background-color: $cg-primary-color;
            border-radius: 50px;
            margin: 0px;
            padding: 2px 10px;
            text-transform: uppercase;
        }

        &__title {
            margin: 8px 0px;
            font-weight: 700;
        }

        &__text {
            height: 88px;
            overflow-y: hidden;
            margin: 8px 0px;
        }
    }
}

/* 
 ____   _    ____ _____ ____  
|  _ \ / \  / ___| ____/ ___| 
| |_) / _ \| |  _|  _| \___ \ 
|  __/ ___ \ |_| | |___ ___) |
|_| /_/   \_\____|_____|____/ 
*/
.orders {
    margin: 16px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

        &__container {
            position: relative;
            /* To make iframe responsive */
            overflow: hidden;
            width: 500px;
            padding-top: 300px;
            margin-top: 8px;
        }
    }
}

.contact {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
        &__item {
            display: flex;
            margin: 8px 0px;
            flex-direction: column;
            align-items: center;
        }

        &__input {
            margin-top: 8px;
        }
    }
}

.store {
    display: grid;
    width: 100%;
    grid-template-areas: "st__filters st__header"
        "st__filters  st__shop";
    grid-template-rows: 104px 1fr;
    grid-template-columns: 2fr 10fr;

    &__header {
        grid-area: st__header;
    }

    &__filters {
        grid-area: st__filters;
        padding: 16px;

        &__dropdown {
            @include textMixin(1rem, $cg-font-secondary-color);
            width: 120px;

            &__margin {
                margin: 8px;
            }
        }
    }

    &__shop {
        grid-area: st__shop;
    }

    &__mobile {
        display: none;
    }

    &__no__margin {
        margin: 0;
    }

    &__card {
        &__price {
            @include textMixin(1.3rem, $cg-font-primary-color, start, 700);
            margin: 0px;
        }

        &__padding {
            padding: 8px;
        }

        &__image {
            width: 100%;
            height: 18rem;
            object-fit: cover;
        }
    }
}

.blog {
    display: flex;
    justify-content: center;
    &__container {    
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        text-align: center;
    }
}

.join__us {
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        justify-content: center;
    }
    &__card {
        width: auto;
        height: auto;
        margin: 16px 32px;
        padding: 32px 16px;
        background-color: #FFF;
        border-radius: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__title {
            @include textMixin(1.5rem, $cg-primary-color, center, 700);
            height: 72px;
            display: flex;
            align-items: center;
        }
        &__list {
            margin: 16px 0;
        }
        &__text {
            @include textMixin(1.2rem, $cg-font-primary-color, center, 700);
            margin: 16px 0px;
        }
    }
}

.account {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "profile events";
    gap: 24px;
}

.profile {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    &__picture {
        align-self: center;
        margin-bottom: 24px;
        width: 250px;
        height: 250px;
    }
    &__information {
        &__btn {
            margin-top: 16px;
        }
    }
}

.events {
    grid-area: events;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__card {
        width: 90%;
        height: auto;
        padding: 24px;
        margin: 8px 0px;
        border-radius: 20px;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__body {
            margin: 8px 0;
            &__text {
                @include textMixin(1rem, $cg-font-primary-color)
            }
        }
        &__footer {
            display: flex;
            justify-content: center;
        }
    }
}

//OVERWRITED BOOTSTRAP CLASSES

.accordion-toggle-corggio.collapsed {
    background-color: $cg-primary-color;
    color: $cg-font-secondary-color;
}

.accordion-button:not(.collapsed) {
    background-color: $cg-primary-color;
    color: $cg-font-secondary-color;
}

.accordion-button:focus {
    border-color: $cg-primary-color;
}

.form-check-input:checked {
    background-color:  $cg-primary-color;
    border-color:  $cg-primary-color;
}

//CLASSES TO MODIFY BOOTSTRAP STYLES

.bg-corggio-primary {
    background-color: $cg-primary-color;
    color: $cg-font-secondary-color;
}

.btn-corggio {
    font-family: $cg-primary-font;
    background-color: $cg-primary-color;
    border: $cg-primary-color solid 1px;
    color: $cg-font-secondary-color;
}

.btn-corggio:hover {
    @extend .btn-corggio;
    background-color: #600000;
}

.nav-corggio-link {
    @include textMixin(1.2rem, $cg-font-secondary-color);
    text-decoration: none;
    margin: 16px 8px;
}

.nav-corggio-link:hover {
    color: $cg-font-secondary-color;
}

.offcanvas-corggio-title {
    @include textMixin(2.5rem, $cg-font-secondary-color, start, 700);
}

.bg-white {
    color: $cg-font-secondary-color;
}


@import 'md_mediaquery';
@import 'sm_mediaquery';
@import 'xs_mediaquery';